/* Artes.css */
.art-container {
    width: 89%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.artes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
}

.galeria-artes {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria-artes-hover {
    width: 100%;
    max-width: 1200px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.7rem;
}


.galeria-item-artes {
    width: 100%;
    text-align: center;
}

.imagem-galeria-artes {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 42vh;
}


.nome-artista-artes {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.nome-trabalho-artes {
    font-size: 16px;
    margin-bottom: 5px;
}

.endereco-artes {
    font-size: 14px;
    color: #555;
}


.custom-prev-arrow-art-page,
.custom-next-arrow-art-page {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.4;
}

.custom-prev-arrow-art-page{
    left: -20px;
}

.custom-next-arrow-art-page {
    right: -20px;
}
