.user-list-container-artist {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 1.5rem;
  }
  
  .user-list-header-artist {
    font-size: 1.7rem;
    margin-bottom: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .user-grid-artist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .user-item-artist {
    list-style: none;
    padding: 15px;
    border: 10px seagreen;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  
  .user-avatar-artist {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid rgb(117, 117, 116);
  }

  .nome-user-artist {
    padding-bottom: 3px;
  }

  .clicavel-artist {
    border: 1px solid #909090; 
    box-shadow: 0 0 5px #3333333e; 
  }
  
  

  .clicavel-artist {
    transition: transform 0.3s; 
  }
  
  .clicavel-artist:hover, .clicavel-artist:active {
    transform: scale(1.1); 
  }
  