

footer {
  color: #333;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
}