/* Estilos com setas mais visíveis para a galeria */

* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.galeria {
  background-color: #fafafa; /* Fundo mais claro */
  padding: 1rem;
}

.galeria-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-left: 4vw;
  margin-right: 4vw; /* Ajuste conforme necessário para a margem entre as imagens */
  border-radius: 8px;
  overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.imagem-galeria {
  width: 100%; /* Ajusta a largura da imagem para ocupar 100% do contêiner */
  max-width: 300px; /* Largura máxima desejada para as imagens pequenas */
  border-radius: 8px;
}

.nome-artista,
.nome-trabalho {
  margin-top: 10px;
  font-size: 2vw; /* Tamanho da fonte em relação à largura da tela */
  color: #333; /* Cor do texto */
}


button {
  color: #0c0f0b; /* Cor do ícone do botão */
  position: absolute;
  top: 50%;
  font-size: 1.99rem; /* Aumentei o tamanho */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
  transform: translateY(-30%);
  z-index: 2; 
}

button:hover {
  color: #e44d26; /* Cor do ícone do botão ao passar o mouse */
}

button:first-child {
  left: -25px; /* Ajustei a posição para ficar mais próximo da borda */
}

button:last-child {
  right: 0; /* Ajustei a posição para ficar mais próximo da borda */
}

