* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-color: #f8f8f8; 
  color: #333; 
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav.open ul {
  display: block;
  position: absolute;
  top: 70px; 
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 1000;
}

header h1 {
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 1rem;
}

header nav ul li {
  margin: 0 15px;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #333;  
}

header nav ul li a:hover {
  text-decoration: underline;
}

.menu-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333; 
}

.head-1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo-esquerda {
  color: #333;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
}
.lista-direita {
  font-size: 1.5rem;
}

.link-sem-sublinhado {
  text-decoration: none;
  color: #333;
}

.logo {
  width: 100%; 
  height: auto; 
  background-color: #00000098;
  border-radius: 100%;
  padding: 1px;
  margin-right: 15px;
  max-width: 60px;
}


@media screen and (max-width: 600px) {
  header {
    padding: 0;
    margin-top: 5px;
  }
  
  
  header nav ul {
    display: none;
  }
  
  header nav ul li {
    margin: 5px 0;
    display: block;
  }

  header nav.open ul {
    display: block;
    position: absolute;
    top: 70px; 
    left: 0;
    width: 90%;
    background-color: #f8f8f8;
    z-index: 1000;
    border-bottom: 2px solid #3333331f;
    border-radius: 16px;
  }
  
  .head-1 {
    flex-direction: column;
    padding: 3px;
    padding-left: 2px;
    font-size: 15px;
  }

  .menu-button {
    display: block;
    cursor: pointer;
    color: #333;
    font-size: 2rem;
  }

  .titulo-esquerda {
    width: 100%;
    color: #333;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
 
    text-decoration: none;
  }
  .logo {
    width: 100%; 
    height: auto; 
    background-color: #00000098;
    border-radius: 100%;
    padding: 1px;
    max-width: 50px;
    margin-right: 0;
  }
  
}


