* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fafafa;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .inputField {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-radius: 35px;
  }
  
  .search-icon img {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    width: 1.4rem;
  }


  H1, p {
    font-size: 1.9rem;
  }
  @media screen and (max-width: 600px) {
    .inputField {
      margin-top: 5px;
    }
  }
  